<div id="eventWrapper">
  <p>Your events retrieved from Microsoft Graph for the upcoming week:</p>
  <% if(events.length != 0) { %>
  <ul id="events">   
    <% events.forEach(function(event) { %>
        <li><%= event.subject %>::<%= ((event.start.dateTime).split(".")[0]) %>::<%= ((event.end.dateTime).split(".")[0]) %>::<%=event.organizer.emailAddress.name%>::
    
            <% Object.values(event.attendees).forEach(function(attendee) { %>
                <%= attendee.emailAddress.name %>,
            <% });%>
        </li>
    <% }); %>
    
  </ul>
  <% } else { %>
    <h2>No Events Found</h2>
    <p>Please manually enter CSV file of events</p>
    <textarea id="events"></textarea>
    <input type="submit" value="Upload"/>
<% } %>
</div>